body {
    font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.row-1, .row-2 {
    margin-top: 50px;
}

.carousel-indicators li {
    filter: invert(50%);
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(50%);
}

.carousel-inner {
    height: 500px;
    display:flex;
    align-items: center;
}

.tab-content {
    margin-top: 25px;
}

.price {
    font-size: 50px;
    text-align: center;
}

.success-sending-message {
    font-size: 25px;
}
